<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonatlop.recoveryourpet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VentanaListaPerfiles"></activity>
        <activity android:name=".VentanaBuscarPerfil" />
        <activity android:name=".VentanaCrearPerfil" />
        <activity android:name=".VentanaCuenta" />
        <activity android:name=".VentanaRegistro" />
        <activity android:name=".VentanaIngreso" />
        <activity android:name=".VentanaInformacion" />
        <activity android:name=".VentanaInicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>